contact.dtd

<!ELEMENT contact (branches, contact-info)>
<!ELEMENT branches (branch+)>
<!ELEMENT branch (name, address, phone, hours, map)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT hours (#PCDATA)>
<!ELEMENT map (#PCDATA)>
<!ELEMENT contact-info (email, phone)>
<!ELEMENT email (#PCDATA)>
