menu.dtd

<!ELEMENT menu (meals, beverages)>
<!ELEMENT meals (meal*)>
<!ELEMENT meal (name, price, description, image)>
<!ELEMENT beverages (hot*, cold*)>
<!ELEMENT hot (size, price, description?)>
<!ELEMENT cold (name, price)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>